*.iml
.gradle

/local.properties

/.idea/compiler.xml
/.idea/workspace.xml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/libraries
/.idea/caches
/.idea/codeStyles
.idea/assetWizardSettings.xml

.DS_Store
/build
app/fabric.properties
gen/

projectFilesBackup/

